<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="log">
                <a href="/"><img src="/image/logo-geeklive.jpg" width="125px">Life</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/game/addIgri">Ajouter un article</a></li>
                    <li><a href="">S'inscrire</a></li>
                    <li><a href="">Se connecter</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>