<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="log">
                <img src="./resource/image/logo-geeklive.jpg" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="">Ajouter un article</a></li>
                    <li><a href="">S'inscrire</a></li>
                    <li><a href="">Se connecter</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>