<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="log">
                <img src="./resource/image/logo-geeklive.jpg" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="">Ajouter un article</a></li>
                    <li><a href="">S'inscrire</a></li>
                    <li><a href="">Se connecter</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-2">
                <h1>Vous êtes un vrai<br>gourmand !</h1>
                <p>Nous avons à cœur de partager nos passions avec nos visiteurs sur des<br> thématiques très
                    variées : comics, jeux vidéo, manga, culture japonaise !</p>
            </div>
            <div class="col-2">
                <img src="./resource/image/geek-days.jpg">
            </div>
        </div>
    </div>
</div>