<!-- Contact -->
    <section class="contact">
        <div class="content">
            <h2>Contactez-nous</h2>
        </div>
        <div class="container-contact">
            <div class="contact-info">
                <div class="informations">
                    <div class="blog">
                        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="text">
                            <h3>Adresse</h3>
                            <p>10 Rue Pierre Bacqua,<br>85000 La Roche-sur-Yon</p>
                        </div>
                    </div>

                    <div class="blog">
                        <div class="icon"><i class="far fa-envelope"></i></div>
                        <div class="text">
                            <h3>E-mail</h3>
                            <p>larochesuryon@arinfo.fr</p>
                        </div>
                    </div>

                    <div class="blog">
                        <div class="icon"><i class="fas fa-phone"></i></div>
                        <div class="text">
                            <h3>Numéro</h3>
                            <p>02 44 23 82 15</p>
                        </div>
                    </div>
                </div>

                <div class="contact-form">
                    <form>
                        <h2>Envoyer le Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Nom Complet</span>
                        </div>

                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>E-mail</span>
                        </div>

                        <div class="inputBox">
                            <textarea name="" required="required"></textarea>
                            <span>Tapez votre message...</span>
                        </div>

                        <div class="inputBox">
                            <input type="submit" name="" value="Envoyer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>