<section class="section">
    <div class="container is-fullhd">
        <form action="/publication/igri" method="POST" enctype="multipart/form-data">
            <!--  dans action nous mettons l'url qui est dans le app.js methode post-->
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Titre de jeux</label>
                        <input type="text" class="form-control" placeholder="Le nom du jeu" name="title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Catégorie</label>
                        <input type="text" class="form-control" placeholder="Le genre du jeu" name="categorie">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Prix</label>
                        <input type="text" class="form-control" placeholder="Le prix du jeu" name="prix">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Date de sortie</label>
                        <input type="text" class="form-control" placeholder="Date sortie jeux" name="date">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" rows="6" name="description"></textarea>
            </div>

            <div class="file is-primary" style="margin-bottom: 20px;">
                <label class="file-label">
                    <input class="file-input" type="file" name="image">
                    <span class="file-cta">
                        <span class="file-icon"><i class="fas fa-upload"></i></span>
                        <span class="file-label">Ajouter une image</span>
                    </span>
                </label>
            </div>


            <div class="mb-3">
                <button class="btn btn-success">Valider</button>
                <button class="btn btn-link">Annuler</button>
            </div>
        </form>
    </div>
</section>