* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Yusei Magic', sans-serif;
    /* background: radial-gradient(rgb(255, 255, 255), #f5f2f2); */
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    position: relative;
}
nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover:after {
    width: 100%;
}
a{
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
    font-size: 17px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-top: 50px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    margin-top: 50px;
}
.header .row {
    margin-top: 70px;
}
/* Footer */
.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #15709e !important;
    margin-bottom: 0;
    padding-bottom: 0
}
small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}
.bold-text {
    color: #15709e !important
}
.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}
h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}
.social {
    font-size: 21px !important
}
.rights {
    font-size: calc(15px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.mb-1{
    color: #15709e;
}
.fab {
    font-size: 30px;
}